<h2>Base</h2>

<form method="post" action="./trigonometry/base">
  <div>Please fill in the fields.</div>
  <div>
    <div>Hight</div>
    <input type="number" id="hight" name="hight" value="<%= viewData?.hightSide %>">
    <div>Hypotenuse</div>
    <input type="number" id="hypotenuse" name="hypotenuse" value="<%= viewData?.hypotenuseSide %>">
  </div>
  <div>
    <button type="submit">Post</button>
  </div>
</form>

<div><%= viewData?.base %></div>

