<h2 class="head-top">Hight</h2>
<div class="container">
  <div class="row">
    <div class="col-md">
      <img src="./img/Triangle.png" alt="Triangle">
    </div>
    <div class="col-md" class="input-form">
      <form method="post" action="./trigonometry/hight">
        <div class="fill-in">Please fill in the fields.</div>
        <div>
          <div>Base</div>
          <input type="number" id="base" name="base" value="<%= viewData?.baseSide %>">
          <div>Hypotenuse</div>
          <input type="number" id="hypotenuse" name="hypotenuse" value="<%= viewData?.hypotenuseSide %>">
        </div>
        <div>
          <button type="submit" class="calculate">Calculate</button>
        </div>
      </form>
      <div class="answer">
        <%= viewData?.hight %>
      </div>
    </div>
  </div>
</div>