<h1>Trigonometry</h1>
<h2>Hypotenuse</h2>

<form method="post" action="./trigonometry/area">
  <div>Please fill in the fields.</div>
  <div>
    <div>Base</div>
    <input type="number" id="base" name="base" value="<%= viewData?.baseSide %>">
    <div>Hight</div>
    <input type="number" id="hight" name="hight" value="<%= viewData?.hightSide %>">
  </div>
  <div>
    <button type="submit">Post</button>
  </div>
</form>

<div><%= viewData?.area %></div>