<h2>Perimeter</h2>

<form method="post" action="./trigonometry/perimeter">
  <div>Please fill in the fields.</div>
  <div>
    <div>Base</div>
    <input type="number" id="base" name="base" value="<%= viewData?.baseSide %>">
    <div>Hight</div>
    <input type="number" id="hight" name="hight" value="<%= viewData?.hightSide %>">
    <div>Hypotenuse</div>
    <input type="number" id="hypotenuse" name="hypotenuse" value="<%= viewData?.hypotenuseSide %>">
  </div>
  <div>
    <button type="submit">Post</button>
  </div>
</form>

<div><%= viewData?.perimeter %></div>