<h1 class="head-top">Right-Angled Triangle</h1>
<div class="contaner">
  <div class="row">
    <div class="col-md">
      <img src="./img/Triangle.png" alt="Triangle">
    </div>
    <div class="col-md">
      <h3>What would you like to calculate?</h3>
      <div class="d-flex flex-column">
      <a class="goCount" href="./trigonometry/angleA">Angle A</a>
      <a class="goCount" href="./trigonometry/angleB">Angle B</a>
      <a class="goCount" href="./trigonometry/area">Area</a>
      <a class="goCount" href="./trigonometry/base">Base</a>
      <a class="goCount" href="./trigonometry/hight">Hight</a>
      <a class="goCount" href="./trigonometry/hypotenuse">Hypotenuse</a>
      <a class="goCount" href="./trigonometry/perimeter">Perimeter</a>
    </div>
    </div>
  </div>
</div>